include ../../primitives/logo/logo
include ../../primitives/heading/heading
include ../../primitives/text-field/text-field
include ../../primitives/social/social

mixin footer(options)

  - const {descrLogo, nav=[], descrSubs, copyText, form={}} = options;

  footer.footer&attributes(attributes)
    .footer__container
      .footer__column
        +logo(true).footer__logo
        p.footer__description=descrLogo
      nav.footer__nav
        each item in nav
          ul.footer__list
            li.footer__item
              +heading({title: item.title}).footer__title
            each link in item.link
              li.footer__item
                a.footer__link(href=link.linkHref)=link.linkText
      .footer__subscription
        +heading({title: 'Подписка'}).footer__subscription-title
        p.footer__description=descrSubs
        form.footer__form(action=form.action, method=form.method)
          +text-field({
              type: 'email',
              name: 'subscription',
              placeholder: 'Email',
              btnForward: true
            })
    .footer__line
    .footer__container
      .footer__copyright=copyText
      .footer__social
        +social()
