mixin logo(color=false)
  .logo
    if color
      img.logo__img_purple(
        src=require('../../components/common.blocks/logo/logo.svg'),
        alt='logo'
        )
    else
      img.logo__img(
        src= require('../../components/common.blocks/logo/logo-gray.svg'),
        alt='logo-gray'
        )
