mixin social()
  .social
    a.social__link
      img.social__ico(
        src=require(`../../components/common.blocks/primitives/social/twitter.svg`),
        alt="twitter"
        )
    a.social__link
      img.social__ico(
        src=require(`../../components/common.blocks/primitives/social/facebook.svg`),
        alt="facebook"
        )
    a.social__link
      img.social__ico(
        src=require(`../../components/common.blocks/primitives/social/instagram.svg`),
        alt="instagram"
        )
