mixin logo(color=false)
  .logo
    if color
      img.logo__img_purple(
        src=require("../../components/logo/logo.svg"),
        alt="logo"
        )
    else
      img.logo__img(
        src= require("../../components/logo/logo-gray.svg"),
        alt="logo-gray"
        )
