include ../../primitives/like/like

mixin comment(options = {})
  - const {img, alt, name, activity, like, text} = options

  .comment
    .comment__row
      img.comment__img(src=require(`../../components/common.blocks/composite/comment/${img}.jpg`), alt=alt)
      .comment__column
        .comment__name= name
        .comment__text= activity
    .comment__row
      .comment__like
        +like(like)
      .comment__text!=text
